@charset "UTF-8";
.estilosGenerales {
  font-family: 'Roboto', sans-serif;
  color: #65463E;
  background-color: #D2E5D0;
  padding: 5px; 
}

/*grilla*/
.nombre {
  grid-area: nombre;
  align-self: center; 
}

.campoNombre {
  grid-area: campoNombre;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #DCBAA9;
}

.telefono {
  grid-area: telefono;
  align-self: center; 
}

.campoTelefono {
  grid-area: campoTelefono;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #DCBAA9;
}

.email {
  grid-area: email;
  align-self: center; 
}

.campoEmail {
  grid-area: campoEmail; 
  font-family: 'Roboto', sans-serif;
  border: 1px solid #DCBAA9;
}

.detallePedido {
  grid-area: detallePedido;
  align-self: flex-start; 
}

.campoDetallePedido {
  grid-area: campoDetallePedido;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #DCBAA9;
}

.tipoEnvio {
  grid-area: tipoEnvio; 
  align-self: center;
}

.opcionEnviar {
  grid-area: opcionEnviar;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    input{
      margin-right: 20px;
    }
}

.botones {
  grid-area: botones; 
}


.limpiar {
  padding: 12px;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  background-color: #D2E5D0; 
  border-style: none;
}

.enviar {
  padding: 12px 16px;
  border-style: solid;
  border-color: #DCBAA9;
  border-width: 2px;
  margin: 5px;
  background-color: #D2E5D0;
  font-family: 'Roboto', sans-serif;
  border-radius: 35px; 
}

/*Diseño celulares*/
@media only screen and (max-width: 480px) {
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #D2E5D0; 
    padding: 5px;
    margin: 5px;
      h1{
        text-align: center;
      }
  }


  .nav {
    display: none; 
  }

  .menuCelu{
    position: relative;
    display: inline-block;
    padding: 12px 16px 12px 16px;
    border-style: solid;
    border-color: #dcbaa9;
    background-color: #D2E5D0; 
    border-width: 2px;
    border-radius: 20px;  
    cursor: pointer;
  }
  
  .menuCelu__secciones{
    display: none;
    position: absolute;
    background-color: #DCBAA9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #65463E;
    border-radius: 15px;
    z-index: 0;
    right: 0;
      ul{
        li{
          margin: 5px;
        }
          a{
            text-align: center;
            text-decoration: none;
            color: #65463E;  
          }
      }
  }
  

  .menuCelu:hover{
    background-color: #DCBAA9;
    font-weight: bolder ;
  }


  .menuCelu:hover .menuCelu__secciones {
    display: block;
  }


  .misCreaciones {
    text-align: center; 
      h2{
        padding: 12px 16px;
        background-color: #DCBAA9; 
      }
      article{
        display: inline;
        align-content: center;
      }
        img{
          display: inline;
          margin: 10px;
          height: 300px;
          width: 250px;
          transition: all 0.2s;
        }
        img:hover{
          height: 315px;
          width: 265px;
          transform: rotate(0.5deg);
        }
  }


  .sobreMi{
      h2 {
        padding: 12px 16px;
        background-color: #DCBAA9;
        text-align: center; 
      }
      article{
        display: flex;
        flex-direction: column;
        align-items: center; 
      }
        img{
          display: inline-block;
          margin: 10px;
          height: 350px;
          width: 250px;
          align-content: center;
          transition: all 0.2s; 
        }
        img:hover{
          transform: rotate(0.7deg);
        }
        div{
          margin: 10px; 
          text-align: center;
        }
}



  .quieroTejido {
    text-align: center; 
        h2{
          padding: 12px 16px;
          background-color: #DCBAA9;
          text-align: center; 
        }


  }


  .gridsForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 40px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "nombre campoNombre"
    "telefono campoTelefono"
    "email campoEmail"
    "detallePedido campoDetallePedido"
    ". campoDetallePedido"
    "tipoEnvio opcionEnviar"
    "none none"
    "botones botones"; 
  }

  .limpiar:hover{
    border-bottom: solid;
    border-bottom-color: #DCBAA9;
    border-top-color: #D2E5D0;
    border-left-color: #D2E5D0;
    border-right-color: #D2E5D0;
    border-width: 1px;
  }

  .enviar:hover {
    background-color: #DCBAA9;
    font-weight: bolder ;  
  }

  .footer {
    display: none; 
  }

  .footerCelu{
    background-color: #DCBAA9;
    display: block;
    align-items: center;
    text-align: center;
      a{
        img{
          width: 25px;
          height: 25px;
          margin: 5px;
          padding: 10px;
        }
      }
  }

  

  
}


/*Diseño tablets*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  
  .header {
    text-align: center;
    position: sticky; 
    top: 0px;
    background-color: #D2E5D0;
      h1{
        margin-top:5px;
        position: sticky;
        top:0px;
      }
      nav{
        ul{
          list-style-type: none;
          text-align: center;
          position: sticky;
          top: 0px;
          background-color: #D2E5D0;
          display: flex;
          flex-direction: row;
          justify-content: space-around; 
        }
          li{
            text-align: center;
            padding: 12px 16px 12px 16px;
            border-style: solid;
            border-color: #dcbaa9;
            border-width: 1px;
            margin: 10px;
            border-radius: 15px;
          }
          li:hover{
            background-color: #DCBAA9;
            font-weight: bolder ; 
          }
            a{
              text-decoration: none;
              color: #65463E;
            }
            
      }
  }

  .menuCelu{
    display: none;
  }
  
  .misCreaciones {
    text-align: center; 
      h2{
        padding: 12px 16px;
        background-color: #DCBAA9;
      }
      article{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
      img{
        display: inline;
        margin: 10px;
        height: 400px;
        width: 250px;
        transition: all 0.5s; 
      }
      img:hover{
        height: 410px;
        width: 260px;
        transform: rotate(0.3deg);
      }
    
  }
  
 



  .sobreMi {
      h2 {
        padding: 12px 16px;
        background-color: #DCBAA9;
        text-align: center; 
      }
      article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; 
      }
      img{
        margin: 20px;
        height: 400px;
        width: 250px;
        transition: all 0.2s; 
      }
      img:hover{
        transform: rotate(0.7deg);
      }
      p{
        margin: 10px; 
      }
}

  .quieroTejido {
    text-align: center;
        h2{
          padding: 12px 16px;
          background-color: #DCBAA9;
          text-align: center; 
        } 
  }


  .quieroTejido form {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(7, 3fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    grid-template-areas: 
    ". nombre campoNombre ."
    ". telefono campoTelefono ."
    ". email campoEmail ."
    ". detallePedido campoDetallePedido ."
    ". . campoDetallePedido ."
    ". tipoEnvio opcionEnviar opcionEnviar"
    ". botones botones ."; 
  }

  .limpiar:hover{
    border-bottom: solid;
    border-bottom-color: #DCBAA9;
    border-top-color: #D2E5D0;
    border-left-color: #D2E5D0;
    border-right-color: #D2E5D0;
    border-width: 1px;
  }

  .enviar:hover {
    background-color: #DCBAA9;
    font-weight: bolder ;  
  }

  .footer {
    background-color: #DCBAA9;
    display: flex;
  
      h2{
        text-align: center;
        align-items: center;
      }
      a{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: 5px;
        padding: 12px 16px 12px 16px;
        color: #65463E;
        text-decoration: none;
      }
      a:hover{
        font-weight: bolder ;  
      }
      img{
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 5px;
      }
  }


  .footerCelu{
    display: none;
  }

}

/*Diseño para escritorio*/
@media only screen and (min-width: 768px) {
  
  .header {
    text-align: center;
    position: sticky; 
    top: 0px;
    background-color: #D2E5D0;
      h1{
        margin-top:5px;
      }
      nav{
        ul{
          list-style-type: none;
          text-align: center;
          position: sticky;
          top: 0px;
          background-color: #D2E5D0;
          display: flex;
          flex-direction: row;
          justify-content: space-around; 
        }
          li{
            text-align: center;
            padding: 12px 16px 12px 16px;
            border-style: solid;
            border-color: #dcbaa9;
            border-width: 1px;
            margin: 10px;
            border-radius: 15px;
          }
          li:hover{
            background-color: #DCBAA9;
            font-weight: bolder ; 
          }
            a{
              text-decoration: none;
              color: #65463E;
            }
            
      }
  }
  


  .menuCelu{
    display: none;
  }
  
  .misCreaciones{
      h2{
        padding: 12px 16px;
        background-color: #DCBAA9;
        text-align: center;
      }
      div{
        text-align: center; 
      }
      article{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; 
      }
        img{
          display: inline-block;
          margin: 10px;
          height: 450px;
          width: 300px;
          transition: all 0.3s; 
        }
        img:hover{
          height: 460px;
          width: 310px;
          transform: rotate(0.3deg);
        }
 
  }
  
  .sobreMi{
    h2{
      padding: 12px 16px;
      background-color: #DCBAA9;
      text-align: center; 
    }
    article{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
      img{
        margin: 20px;
        height: 460px;
        width: 310px; 
        background-color: #DCBAA9;
        transition: all 0.3s;
      }
      img:hover{
        transform: rotate(0.7deg);
      }
      div{
        text-align: center;
      }
  }

  
  .quieroTejido {
    text-align: center;
      h2{
        padding: 12px 16px;
        background-color: #DCBAA9;
      } 
  }

  
  .gridsForm {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(7, 4fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    grid-template-areas: 
    ". nombre campoNombre ."
    ". telefono campoTelefono ."
    ". email campoEmail ."
    ". detallePedido campoDetallePedido ."
    ". . campoDetallePedido ."
    ". tipoEnvio opcionEnviar ."
    ". . botones botones";
  }


  .limpiar:hover{
    border-bottom: solid;
    border-bottom-color: #DCBAA9;
    border-top-color: #D2E5D0;
    border-left-color: #D2E5D0;
    border-right-color: #D2E5D0;
    border-width: 1px;
  }

  .enviar:hover {
    background-color: #DCBAA9;
    font-weight: bolder ;  
  }

  .footer {
    background-color: #DCBAA9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
      a{
        display: flex;
        align-items: center;
        margin: 5px;
        padding: 12px 16px 12px 16px;
        color: #65463E;
        text-decoration: none;
      }
        img{
          width: 40px;
          height: 40px;
          margin: 5px;
          padding: 5px;
        }
      a:hover{
        font-weight: bolder ;  
      }
  }

  .footerCelu{
    display: none;
  }
  
}
